<!DOCTYPE html>
<html>
<head>
	<title>news</title>
	<meta charset="utf-8">
    <meta name="screen-orientation" content="portrait"><!-- 强制竖屏 -->
	<link rel="stylesheet" type="text/css" href="index.css">
	<script src="https://redrock.cqupt.edu.cn/exam-mock/mock-min.js"></script>
    <script src="https://redrock.cqupt.edu.cn/exam-mock/mock-data.js"></script> 
    <script type="text/javascript" src="../rem.js"></script>
</head>
<body>
    <nav><!-- 导航栏  --> 
        <div class="content">
        	<span class="label on">头条</span>
        	<span class="label">娱乐</span>
        	<span class="label">体育</span>
        	<span class="label">汽车</span>
        	<span class="label">科技</span>
        </div>
        <span id="change">
        	<img src="../images/change.png">
        </span>
    </nav>
    <div class="banner"><!-- 轮播 -->
    	<div class="banCon">
    		<div class="slider">
    			<div class="same">
    				<img src="../images/bannerimg.png" class="pics">
    			</div>
    			<div class="same">
    				<img src="../images/bannerimg.png" class="pics">
    			</div>
    			<div class="same">
    				<img src="../images/bannerimg.png" class="pics">
    			</div>
    		</div>
    	</div>
    	<div class="banBot">
    	    <div id="banType">图集</div>
    	    <p id="banTitle">脸谱阅后即焚应用排名下跌</p>
    	    <ul id="cir">
    	        <li class="show"></li>
    	        <li></li>
    	        <li></li>    	
    	    </ul>
    	</div>
    </div>
    <div class="newsCon"><!-- 新闻链接 -->
    	<div class="pictures">
    		<img src="../images/new1.png" class="picture">
    	</div>
    	<div class="word">
    		<a href="#" class="title">脸谱阅后即焚应用排名下跌</a>
    		<p class="description">阅后即焚服务一度跻身App Store前50名免费应用排行榜。</p>
    		<span class="newsType"><p class="typeword"></p></span>
    		<span class="number"></span>
    	</div>
    </div>
    <div class="newsCon"><!-- 新闻链接 -->
    	<div class="pictures">
    		<img src="../images/new2.png" class="picture">
    	</div>
    	<div class="word">
    		<a href="#" class="title">高速将构建新能源车快充网络</a>
    		<p class="description">中国政府网指导意见，明确以发展纯电动汽车为主要战略。</p>
    		<span class="newsType"><p class="typeword"></p></span>
    		<span class="number"></span>
    	</div>
    </div>
    <div class="newsCon"><!-- 新闻链接 -->
    	<div class="pictures">
    		<img src="../images/new3.png" class="picture">
    	</div>
    	<div class="word">
    		<a href="#" class="title">诺基亚北京工厂裁3千人或撤出</a>
    		<p class="description">上周五微软也已启动诺基亚北京工厂裁员计划，或将迁离北京。</p>
    		<span class="newsType"><p class="typeword"></p></span>
    		<span class="number"></span>
    	</div>
    </div>
    <div class="newsCon"><!-- 新闻链接 -->
    	<div class="pictures">
    		<img src="../images/new4.png" class="picture">
    	</div>
    	<div class="word">
    		<a href="#" class="title">老罗致歉：锤子预约18万台？</a>
    		<p class="description">锤子遇到严重的产能问题，而且良品率很低，品控太差。</p>
    		<span class="newsType"><p class="typeword"></p></span>
    		<span class="number"></span>	
    	</div>
    </div>
    <div class="newsCon"><!-- 新闻链接 -->
    	<div class="pictures">
    		<img src="../images/new4.png" class="picture">
    	</div>
    	<div class="word">
    		<a href="#" class="title">老罗致歉：锤子预约18万台？</a>
    		<p class="description">锤子遇到严重的产能问题，而且良品率很低，品控太差。</p>
    		<span class="newsType"><p class="typeword"></p></span>
    		<span class="number"></span>	
    	</div>
    </div>
    <div id="menu">
    	<div class="menuTop">
    		<div class="menunav">
    			<span>切换栏目</span>
    			<img src="../images/change1.png" id="change1">
    		</div>
    		<div class="need">
    		    <div class="info1"></div>
    			<div class="info1"></div>
    			<div class="info1"></div>
    			<div class="info1"></div>
    			<hr width="100%"  class="h" />
    			<div class="info1"></div>
    			<div class="info1"></div>
    			<div class="info1"></div>
    			<div class="info1"></div>
    			<hr width="100%" class="h" />
    			<div class="info1"></div>
    			<div class="info1"></div>
    			<div class="info1"></div>
    			<div class="info1"></div>
    		</div>
    	</div>
    	<div class="menubottom">
    	    <div class="botnav">
    	    	<span>点击添加更多栏目</span>
    	    </div>
    		<div class="choice">
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    			<div class="info"></div>
    		</div>
    	</div>
    </div>
</body>
<script type="text/javascript" src="../main.js"></script>
<script type="text/javascript" src="../getnew.js"></script>
<script type="text/javascript" src="../getpic.js"></script>
<script type="text/javascript" src="../gettags.js"></script>
</html>












