<!DOCTYPE html>
<html>
<head>
	<title>news</title>
	<meta charset="utf-8">
    <meta name="screen-orientation" content="portrait"><!-- 强制竖屏 -->
	<link rel="stylesheet" type="text/css" href="index.css">
	<script src="https://redrock.cqupt.edu.cn/exam-mock/mock-min.js"></script>
    <script src="https://redrock.cqupt.edu.cn/exam-mock/mock-data.js"></script> 
    <script type="text/javascript" src="../rem.js"></script>
</head>
<body>
    <nav><!-- 导航栏  --> 
        <div class="content">
        	<span class="label on">头条</span>
        	<span class="label">娱乐</span>
        	<span class="label">体育</span>
        	<span class="label">汽车</span>
        	<span class="label">科技</span>
        </div>
        <span id="change">
        	<img src="../images/change.png">
        </span>
    </nav>
    <div class="banner"><!-- 轮播 -->
    	<div class="banCon">
    		<div class="slider">
    			<div class="same">
    				<img src="../images/bannerimg.png">
    			</div>
    			<div class="same">
    				<img src="../images/bannerimg.png">
    			</div>
    			<div class="same">
    				<img src="../images/bannerimg.png">
    			</div>
    		</div>
    	</div>
    	<div class="banBot">
    	    <div id="banType">图集</div>
    	    <p id="banTitle">脸谱阅后即焚应用排名下跌</p>
    	    <ul>
    	        <li id="show"></li>
    	        <li></li>
    	        <li></li>    	
    	    </ul>
    	</div>
    </div>
    <div class="newsCon"><!-- 新闻链接 -->
    	<div class="picture">
    		<img src="../images/new1.png">
    	</div>
    	<div class="word">
    		<a href="#" id="title">脸谱阅后即焚应用排名下跌</a>
    		<p id="description">阅后即焚服务一度跻身App Store前50名免费应用排行榜。</p>
    		<span id="newsType"><p id="typeword">专题</p></span>
    		<span id="number">8907跟帖</span>
    	</div>
    </div>
    <div class="newsCon"><!-- 新闻链接 -->
    	<div class="picture">
    		<img src="../images/new2.png">
    	</div>
    	<div class="word">
    		<a href="#" id="title">高速将构建新能源车快充网络</a>
    		<p id="description">中国政府网指导意见，明确以发展纯电动汽车为主要战略。</p>
    		<!-- <span id="newsType"><p id="typeword">专题</p></span> -->
    		<span id="number">4.7万跟帖</span>
    	</div>
    </div>
    <div class="newsCon"><!-- 新闻链接 -->
    	<div class="picture">
    		<img src="../images/new3.png">
    	</div>
    	<div class="word">
    		<a href="#" id="title">诺基亚北京工厂裁3千人或撤出</a>
    		<p id="description">上周五微软也已启动诺基亚北京工厂裁员计划，或将迁离北京。</p>
    		<span id="newsType"><p id="typeword">LIVE</p></span>
    		<!-- <span id="number">8907跟帖</span> -->
    	</div>
    </div>
    <div class="newsCon"><!-- 新闻链接 -->
    	<div class="picture">
    		<img src="../images/new4.png">
    	</div>
    	<div class="word">
    		<a href="#" id="title">老罗致歉：锤子预约18万台？</a>
    		<p id="description">锤子遇到严重的产能问题，而且良品率很低，品控太差。</p>
    		<span id="newsType"><img src="../images/cam.png"></span>
    		<!-- <span id="number">8907跟帖</span> -->	
    	</div>
    </div>
    <div class="newsCon"><!-- 新闻链接 -->
    	<div class="picture">
    		<img src="../images/new4.png">
    	</div>
    	<div class="word">
    		<a href="#" id="title">老罗致歉：锤子预约18万台？</a>
    		<p id="description">锤子遇到严重的产能问题，而且良品率很低，品控太差。</p>
    		<span id="newsType"><img src="../images/cam.png"></span>
    		<!-- <span id="number">8907跟帖</span> -->	
    	</div>
    </div>
    <div id="menu">
    	
    </div>
</body>
<script type="text/javascript" src="../main.js"></script>
</html>












